Repository crosart/oc-myerp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_business, trigger_consumer, trigger_mdoel

.gitlab-ci.yml:

stages:
  - triggers
trigger_business:
  stage: triggers
  trigger:
    include: myerp-business/.gitlab-ci.yml
  rules:
    - changes:
      - myerp-business/*

trigger_consumer:
  stage: triggers
  trigger:
    include: myerp-consumer/.gitlab-ci.yml
  rules:
    - changes:
      - myerp-consumer/*

trigger_mdoel:
  stage: triggers
  trigger:
    include: myerp-model/.gitlab-ci.yml
  rules:
    - changes:
      - myerp-model/*

Fixing parent gitlab-ci configuration file
  .gitlab-ci.yml
Due: none

Micro refactory to test pipeline
  myerp-business/src/main/java/com/dummy/myerp/business/impl/manager/ComptabiliteManagerImpl.java
Due: none

Removing useless images in gitlab-ci configs
  myerp-business/.gitlab-ci.yml
  myerp-consumer/.gitlab-ci.yml
  myerp-model/.gitlab-ci.yml
Due: trigger_business, trigger_consumer, trigger_mdoel

Updating gitlab-ci.yml
  myerp-business/.gitlab-ci.yml
Due: trigger_business

Updating business gitlab-ci.yml
  myerp-business/.gitlab-ci.yml
Due: trigger_business

Removing gitlab-ci.yml
  .gitlab-ci.yml
  myerp-business/.gitlab-ci.yml
  myerp-consumer/.gitlab-ci.yml
  myerp-model/.gitlab-ci.yml
Due: trigger_business, trigger_consumer, trigger_mdoel

Add .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Updating tests with verifications and external test sources
  myerp-business/src/main/java/com/dummy/myerp/business/impl/manager/ComptabiliteManagerImpl.java
  myerp-business/src/test/java/com/dummy/myerp/business/impl/manager/ComptabiliteManagerImplTest.java
  myerp-business/src/test/java/com/dummy/myerp/business/impl/manager/sources/ExternalTestSources.java
Due: none

Fixing EcritureComptable Test
  myerp-model/src/main/java/com/dummy/myerp/model/bean/comptabilite/EcritureComptable.java
  myerp-model/src/test/java/com/dummy/myerp/model/bean/comptabilite/EcritureComptableTest.java
Due: none

Adding POSTGRESQL service to gitlabCI
  .gitlab-ci.yml
  01_script_init_schema.sql
  02_script_init_tables.sql
  03_script_insert_data.sql
Due: none

Fixing gitlabCI.yml
  .gitlab-ci.yml
Due: none

Fixing gitlabCI yml
  .gitlab-ci.yml
Due: none

Fixing GitlabCI.yml
  .gitlab-ci.yml
Due: none

Testing gitlabCI
  .gitlab-ci.yml
Due: none

testing gitlabCI.yml
  .gitlab-ci.yml
  myerp-business/src/main/resources/com/dummy/myerp/business/applicationContext.xml
  myerp-business/src/test-business/java/com/dummy/myerp/testbusiness/business/TestIT.java
  myerp-business/src/test-business/java/com/dummy/myerp/testbusiness/business/bootstrapContext.xml
  myerp-model/src/test/java/com/dummy/myerp/model/bean/comptabilite/EcritureComptableTest.java
Due: none

testing gitlabCI.yml
  .gitlab-ci.yml
  myerp-business/src/test-business/resources/com/dummy/myerp/testbusiness/business/bootstrapContext.xml
Due: none

testing gitlabCI.yml
  .gitlab-ci.yml
Due: none

test gitlabci
  .gitlab-ci.yml
Due: none

test gitlab ci
  .gitlab-ci.yml
Due: none

Migrating from GitlabCI to TravisCI
  .gitlab-ci.yml
  .travis.yml
  01_script_init_schema.sql
  02_script_init_tables.sql
  03_script_insert_data.sql
  initdb.sql
Due: none

Fixing JDBC URL for Travis
  myerp-business/src/test-business/resources/com/dummy/myerp/testbusiness/business/bootstrapContext.xml
Due: none

Create README.md
  README.md
Due: none

Updating ComptabiliteManagerIT
  myerp-business/pom.xml
  myerp-business/src/test-business/java/com/dummy/myerp/testbusiness/business/ComptabiliteManagerIT.java
  myerp-business/src/test-business/java/com/dummy/myerp/testbusiness/business/TestIT.java
Due: trigger_business

Updating ComptabiliteManagerIT
  myerp-business/src/test-business/java/com/dummy/myerp/testbusiness/business/ComptabiliteManagerIT.java
Due: none

Adding DB Cleanup for ITests
  myerp-business/pom.xml
  myerp-business/src/test-business/java/com/dummy/myerp/testbusiness/business/ComptabiliteManagerIT.java
  myerp-business/src/test-business/resources/com/dummy/myerp/testbusiness/business/dropDB.sql
  myerp-business/src/test-business/resources/com/dummy/myerp/testbusiness/business/populateDB.sql
Due: trigger_business

Adding Jacoco Plugin to Business
  myerp-business/pom.xml
Due: trigger_business

Adding checkReferenceUnicity ITest
  myerp-business/pom.xml
  myerp-business/src/test-business/java/com/dummy/myerp/testbusiness/business/ComptabiliteManagerIT.java
Due: trigger_business

Adding new tests
  myerp-business/src/test-business/java/com/dummy/myerp/testbusiness/business/ComptabiliteManagerIT.java
  myerp-model/src/test/java/com/dummy/myerp/model/bean/comptabilite/EcritureComptableTest.java
Due: none

Adding new tests
  myerp-business/src/test-business/java/com/dummy/myerp/testbusiness/business/ComptabiliteManagerIT.java
Due: none

Fixing error in SQL Script
  myerp-consumer/src/main/resources/com/dummy/myerp/consumer/sqlContext.xml
Due: none

Adding insertEcritureComptable ITest
  myerp-business/src/test-business/java/com/dummy/myerp/testbusiness/business/ComptabiliteManagerIT.java
Due: none

Adding updateEcritureComptable ITest
  myerp-business/src/test-business/java/com/dummy/myerp/testbusiness/business/ComptabiliteManagerIT.java
Due: none

Adding deleteEcritureComptable ITest
  myerp-business/src/test-business/java/com/dummy/myerp/testbusiness/business/ComptabiliteManagerIT.java
Due: none

Adding Jacoco to Consumer Module
  myerp-consumer/pom.xml
Due: trigger_consumer

Updating POMs
  myerp-business/pom.xml
  myerp-consumer/pom.xml
  pom.xml
Due: trigger_business, trigger_consumer

Updating POMs
  myerp-consumer/pom.xml
  pom.xml
Due: trigger_consumer

Updating POMs
  pom.xml
Due: none
